h1{
    border: 2px solid black;
    margin: 20px 30px;
}
p{
    border: 1px dashed red;
    margin: 5px 10px 15px 20px;
}
ol{
    border: 5px dotted blue;
    margin-top: 340px;
    margin-left: 205px;
}