h1{
    width: 300px;
    height: 100px;
    padding: 20px;
    border: 5px solid blue;
    margin: 15px;
    background-color: orange;
    outline: 10px solid gray;
}
p{
    width: 300px;
    height: auto;
    padding: 10px;
    border: 2px dashed green;
    margin: 10px;
    background-color: orange;
    outline: 10px solid gray;
}