.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "left-sidebar main-content right-sidebar"
    "footer footer footer";
  grid-template-columns: 1fr 3fr 1fr;
  gap: 3px;
  background-color: gray;
  padding: 5px;
}
.container div {
  background-color: white;
  padding: 10px;
}

.container div.header {
  grid-area: header;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: lightsalmon;
}

.container div.left-sidebar {
  grid-area: left-sidebar;
  height: 85vh;
  overflow: scroll;
}
.container div.main-content {
  grid-area: main-content;
  height: 85vh;
  overflow: scroll;
}
.container div.right-sidebar {
  grid-area: right-sidebar;
  height: 85vh;
  overflow: scroll;
}
.container div.footer {
  grid-area: footer;
  text-align: center;
  position: sticky;
  bottom: 0;
  background-color: lightsalmon;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    grid-template-areas:
      "header header"
      "main-content main-content"
      "left-sidebar right-sidebar"
      "footer footer";
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "main-content"
      "left-sidebar"
      "right-sidebar"
      "footer";
    grid-template-columns: 1fr;


  }
}
